

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #cfcfcf;
    border: 1px solid #000000;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell.clicked {
    background-color: #fff;
    font-size: 20px; /* 调整文本大小 */
}

.cell.mine {
    background-color: rgb(213, 92, 92);
    color: white;
}

.cell:hover {
    background-color: rgb(246, 253, 203);
}

.cell.count-1 { color: rgb(60, 60, 255); }
.cell.count-2 { color: green; }
.cell.count-3 { color: orange; }
.cell.count-4 { color: rgb(255, 98, 0); }
.cell.count-5 { color: rgb(190, 66, 44); }
.cell.count-6 { color: rgb(210, 43, 43); }
.cell.count-7 { color: rgb(234, 3, 3); }
.cell.count-8 { color: rgb(115, 0, 0); }
