.board {
    display: grid;
    grid-template-columns: repeat(13, 30px);
    gap: 1px;
    background-color: #ccc;
    border: 1px solid #999;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #cfcfcf;
    border: 1px solid #000000;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell.clicked {
    background-color: #fff;
}

.cell.mine {
    background-color: rgb(213, 92, 92);
    color: white;
}

.cell:hover {
    background-color: lightgray;
}